#pres{
	color:black;
	border-bottom: 1px solid black;
}

.titre{
    color:black;
    font-size: 20px;
}

.titre a{
    color:rgb(245, 152, 13);

    
}

.image img{
    margin-left: 10px;
    max-width: 4400px;
    max-height: 200px;
    margin-bottom: 10px;
   
}

.ligne{
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    
}